#container-clientleft {
    display: inline-block;
    background-color: black;
    align-items: center;
    width: 340px;
    height: 340px;
    border: 1px white solid;
}

.lefty {
    background-color: white;
    height: 10px;
    width: 20px;
    border-radius: 15%;
}