#container-lefter {
  display: inline-block;
  background-color: black;
  align-items: center;
  width: 340px;
  height: 340px;
  border: 1px white solid;
}

#container-righter {
  display: inline-block;
  background-color: black;
  align-items: center;
  width: 340px;
  height: 340px;
  border: 1px white solid;
}

.left {
  background-color: red;
  height: 10px;
  width: 20px;
  border-radius: 15%;
}

.right {
  background-color: red;
  height: 10px;
  width: 20px;
  border-radius: 15%;
}

